# FRONT END IGNORES
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# BACK END IGNORES
# Ignore folders
.vscode
__pycache__

# Ignore files
# AWS DB private key
*.ppk
*.pem
# Vim swap files
*.swp
# Database
db.sqlite3
db.sqlite3-journal
# Other stuff (should we remove this?)
googleMapsTest.html
testApartments.csv