# Ignore .vscode folder
.vscode/

# Ignore the cache folder
__pycache__/

# Ignore the AWS DB private key
*.ppk
*.pem

# ignore vim swap files
*.swp

# ignore the database
db.sqlite3
db.sqlite3-journal

googleMapsTest.html
testApartments.csv
OffCampusBackEnd/OffCampusRestApi/client_secret.json
