.nav-wrapper {
    background-color: #bb0000;
}

#no-price-switch {
    font-size: 13px;
}

.map {
    height: 200px;
    width: 300px;
}

#submit {
    margin: 10px;
    background-color: #bb0000;
}

#bigmap {
    height: 40%
}

img {
    max-width: 300px;
}

.address {
    font-weight: bold;
}

.pagination li.active {
    background-color: #bb0000;
}